.white-text{
    color: #fff !important;
}

.primary-color{
    color: #AF2924;
}

.secondary-color{
    color: #5D6A72;
}

.font-small{
    font-size: 1.8rem;
}

.text-justify{
    text-align: justify;
}

.color-bg-primary{
    background-color: var(--primary-color) !important;
    color: #fff;
}