.white-text{
    color: #fff !important;
}
.bg-white{
    background-color: #fff !important;
}

.primary-color{
    color: #AF2924;
}

.secondary-color{
    color: #5D6A72;
}

.font-small{
    font-size: 1.8rem;
}

.text-justify{
    text-align: justify;
}

.color-bg-primary{
    background-color: var(--primary-color) !important;
    color: #fff;
}

.padding-top-90{
    padding: 90px;
}

.margin-bottom-0{
    margin-bottom: 0px !important;
}
padding-top-0{
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}

.btn-red{
    padding: 10px 8px;
    background: var(--primary-color);
    color: #fff;
}

.btn-red:hover{
    background: rgba(175, 41, 36,0.7);
    /* transform: scale(0.02); */
    color: #fff;
}